body {
    background-color: #161619;
    font-family: 'Roboto Mono', monospace;
}

/* text */
p, h2, label, code, li, button {
    color: #ffffff;
}

p, a, input, button {
    font-size: 1rem;
}

/* links */
a {
    color: #63FF8F;
}

a:visited {
    color: #237D20;
}

#dtuhax {
    margin: 0;

    color: #1ED04B;
    font-size: 120px;
    text-align: center;
    text-shadow: 5px 5px 0px #237D20;
    text-decoration: none;
}

/* layout or whatever */

#main {
    width: 800px;
    border: 5px double #237D20;
    background-color: #161619;
    
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 20px 20px 0px #132f12;
}

.subsection {
    border-top: 5px double #237D20;
    padding: 10px;
}

/* link as a button */
a.link-button:link, a.link-button:visited {
    color: #ffffff;
    text-decoration: none;

    display: inline-block;
    margin: auto;
    padding: 5px 15px;
    background-color: #232323;
    border: #237D20 2px solid;
}

a.link-button:hover {
    background-color: #3c3c3c;
}

a.link-button:active {
    background-color: #1ED04B;
    color: #000000;
}

.copy-button, .copy-button:visited {
    color: #ffffff;
    text-decoration: none;

    display: none;
    margin: auto;
    padding: 5px 15px;
    background-color: #232323;
    border: #237D20 2px solid;
    position: absolute;
    top: 10px;
    right: 20px;
}

.copy-button:hover {
    background-color: #3c3c3c;
}

.copy-button:active {
    background-color: #1ED04B;
    color: #000000;
}

.hover-div {
    position: relative;
}

.hover-div:hover .copy-button {
    display: block;
}

/* flexbox so we can center children */
.center-children {
    display: flex;
}

/* form stuff */
input {
    font-family: 'Roboto Mono', monospace;
}

/* actual button but looks good */
.button {
    color: #ffffff;
    text-decoration: none;

    padding: 5px 15px;
    background-color: #232323;
    border: #237D20 2px solid;
}

.button:hover {
    background-color: #3c3c3c;
}

.button:active {
    background-color: #1ED04B;
    color: #000000;
}

/* secret link (used for making DTUHAX clickable) */
a.invisble-link:hover, a.invisble-link:visited, a.invisble-link:link, a.invisble-link:active {
    text-decoration: inherit;
}

/* text block to copy from */
.text-block {
    margin: 10px;
    padding: 4px 10px 4px;
    background-color: #3c3c3c;
    border-radius: 7px;
    overflow-wrap: break-word;
}

/* phone styling */
@media(max-width: 700px) {
    #dtuhax {
        font-size: 80px;
    }

    #main {
        width: auto;
        left: 0;
        right: 0;
    }
}